#-----------------------
# Vim
#-----------------------
[._]*.s[a-w][a-z]
*~

#-----------------------
# IDEA
#-----------------------
.idea
*.iml
out
test-output
target

#-----------------------
# Eclipse
#-----------------------
.classpath
.project
.settings

#-----------------------
# SVN
#-----------------------
.svn

#-----------------------
# Syncthing
#-----------------------
# exclude this since there is a .stignore in this repo
.stignore
.stfolder

#-----------------------
# miscellaneous
#-----------------------
*.log
